/* You can add global styles to this file, and also import other style files */
/* Best prime faces themes for angular.js: luna-amber, saga-orange */

:root {
  --dark-main-color: #9c1616;
  --light-main-color: whitesmoke;
  --main-color: #b72e2e;
  --main-color-1: #c03030;
  --main-color-2: #ce3232;
  --main-color-3: #f83b3b;
  --contrast-color: #03233c;
}


/* Remove shadows for focused elements */
button:focus, .pi-star-fill:focus, .pi-ban {
  outline: none !important;
  box-shadow: none !important;;
}

body {
  /*background-color: var(--dark-main-color) !important;*/
  background-image:
    linear-gradient(90deg, rgba(0, 0, 0, 0), var(--dark-main-color), rgba(0, 0, 0, 0)),
    /*linear-gradient(-90deg, var(--dark-main-color), rgba(0, 0, 0, 0)),*/
    /*linear-gradient(90deg, var(--dark-main-color), rgba(0, 0, 0, 0)),*/
    repeating-linear-gradient(45deg, var(--main-color-3), var(--main-color-2) 15px, var(--main-color-1) 20px, var(--main-color) 40px);
}

h1 {
  font-size: 300% !important;
}

h1, h2, h3 {
  color: whitesmoke;
  text-shadow: 1px 1px 0px #000,
              -1px 1px 0px #000,
              1px -1px 0px #000,
              -1px -1px 0px #000,
              0px 1px 0px #000,
              0px -1px 0px #000,
              -1px 0px 0px #000,
              1px 0px 0px #000,
              2px 2px 0px #000,
              -2px 2px 0px #000,
              2px -2px 0px #000,
              -2px -2px 0px #000,
              0px 2px 0px #000,
              0px -2px 0px #000,
              -2px 0px 0px #000,
              2px 0px 0px #000,
              1px 2px 0px #000,
              -1px 2px 0px #000,
              1px -2px 0px #000,
              -1px -2px 0px #000,
              2px 1px 0px #000,
              -2px 1px 0px #000,
              2px -1px 0px #000,
              -2px -1px 0px #000;
}

.movie_title {
  text-decoration: none;
  font-weight: 500;
  color: goldenrod;
}

.movie_title:hover {
  color: gold;
}

.ratings-table {
  max-width: 90vw !important;
  border-radius: 10px !important;
}

.oneliner {
  overflow: hidden;
  white-space: nowrap;
}

.recommended-card {
  width: 95vw;
}


