/* You can add global styles to this file, and also import other style files */
/* Best prime faces themes for angular.js: luna-amber, saga-orange */

:root {
  --dark-main-color: #9c1616;
  --light-main-color: whitesmoke;
  --main-color: #b72e2e;
  --main-color-1: #ce3535;
  --main-color-2: #d53333;
  --main-color-3: #f14040;
  --contrast-color: #03233c;
  --box-shadow-col: rgba(0, 0, 0, 0.75);
  --box-shadow-col2: rgba(0, 0, 0, 0.5);
}

html, body {
  scroll-behavior: smooth;
}

.text-icon {
  display: inline-block;
  height: 1.25em;
  margin-bottom: 0.25em;
}

/* Remove shadows for focused elements */
button:focus, .pi-star-fill:focus, .pi-ban {
  outline: none !important;
  box-shadow: none !important;;
}

.main-button button {
  box-shadow: 3px 3px 3px var(--box-shadow-col) !important;
  position: relative;
  top: 0;
  transition: top ease 0.05s;
}

.main-button button:hover {
  box-shadow: 5px 5px 5px var(--box-shadow-col) !important;
  top: -1px;
}

body {
  /*background-color: var(--dark-main-color) !important;*/
  background-image:
    linear-gradient(90deg, rgba(0, 0, 0, 0), var(--dark-main-color), rgba(0, 0, 0, 0)),
    /*linear-gradient(-90deg, var(--dark-main-color), rgba(0, 0, 0, 0)),*/
    /*linear-gradient(90deg, var(--dark-main-color), rgba(0, 0, 0, 0)),*/
    repeating-linear-gradient(-225deg, var(--main-color-2), var(--main-color-1) 22.5px, var(--main-color) 30px, var(--dark-main-color) 60px);
}


.upload-div {
  max-width: 85vw !important;
}

.clickable {
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

.clickable-black {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.clickable:hover {
  color: gold;
}

h6 {
  font-size: 125%;
}

.movie_title {
  text-decoration: none;
  font-weight: 500;
  color: goldenrod;
}

.movie_title:hover {
  color: gold;
}

.ratings-table {
  max-width: 85vw !important;
}

.ratings-table .p-datatable-sm, .box-shadow-main {
  /*border-radius: 10px !important;*/
  /*border-style: solid;*/
  /*border-width: 2px;*/
  /*border-color: white;*/
  box-shadow: 5px 5px 15px var(--box-shadow-col);
}

/*.ratings-table .p-datatable-sm:hover {*/
/*  box-shadow: 5px 5px 30px black;*/
/*}*/

.oneliner {
  overflow: hidden;
  white-space: nowrap;
}

.rec-content {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.bg-light-transparent {
  background-color: rgba(245, 245, 245, 0.75);
  border-style: solid;
  border-width: 2px;
  border-color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px var(--box-shadow-col2);
}

h1 {
  font-size: 300% !important;
}

h1, h2, h3 {
  color: whitesmoke !important;
  text-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000,
  0px 1px 0 #000,
  0px -1px 0 #000,
  -1px 0px 0 #000,
  1px 0px 0 #000,
  2px 2px 0 #000,
  -2px 2px 0 #000,
  2px -2px 0 #000,
  -2px -2px 0 #000,
  0px 2px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 0px 0 #000,
  1px 2px 0 #000,
  -1px 2px 0 #000,
  1px -2px 0 #000,
  -1px -2px 0 #000,
  2px 1px 0 #000,
  -2px 1px 0 #000,
  2px -1px 0 #000,
  -2px -1px 0  #000;
}

.slide-in-left {
  -webkit-animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.0s both;
  animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.0s both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
