<div style="height: 100vh">
  <div class="text-center">
    <h1 class="p-2 pt-4">
      <img class="text-icon" src="/assets/images/popcorn1_fixed.png" alt="popcorn-icon"/>
      Movie Recommender
      <img class="text-icon" src="/assets/images/popcorn1_fixed_flipped.png" alt="popcorn-icon"/>
    </h1>
  </div>

  <div class="container ratings-table">
    <p-table [value]="movies" [paginator]="true" [rows]="10"
             styleClass="p-datatable-sm p-datatable-striped">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <div class="d-inline-block col-8 text-start">
            Movies <span style="font-weight: 400 !important;">({{movies ? movies.length : 0 }} in total)</span>
          </div>
          <div class="d-inline-block col-4 text-end">
            <button pButton pRipple type="button" label="Clear ratings" class="p-button-text p-button-secondary"
                    (click)="clear_ratings()">
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="col-6">Title</th>
          <th class="col-2">Genres</th>
          <th class="col-2" pSortableColumn="year">Year <p-sortIcon field="year"></p-sortIcon></th>
          <th class="col-2" pSortableColumn="rating">Rating <p-sortIcon field="rating"></p-sortIcon></th>
        </tr>
        <tr>
          <th><p-columnFilter type="text" field="title"></p-columnFilter></th>
          <th><p-columnFilter type="text" field="genres"></p-columnFilter></th>
          <th><p-columnFilter type="text" field="year"></p-columnFilter></th>
          <th></th>
      </ng-template>
      <ng-template pTemplate="body" let-movie>
        <tr>
          <td><a class="movie_title" href="https://www.imdb.com/title/{{movie.imdbID}}" target="_blank">{{movie.title}}</a></td>
          <td>{{movie.genres}}</td>
          <td>{{movie.year}}</td>
          <td><p-rating [(ngModel)]="movie.rating" [cancel]="true" [stars]="5"></p-rating></td>
        </tr>
      </ng-template>
<!--      <ng-template pTemplate="paginatorleft">-->
<!--        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="paginatorright">-->
<!--        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>-->
<!--      </ng-template>-->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">No movies found.</td>
        </tr>
      </ng-template>

<!--      <ng-template pTemplate="summary">-->
<!--        <div class="flex align-items-center justify-content-between">-->
<!--          In total there are {{movies ? movies.length : 0 }} movies.-->
<!--        </div>-->
<!--      </ng-template>-->
    </p-table>
  </div>

  <div class="container upload-div mt-3">
    <div class="d-block text-start">
      <p-fileUpload [customUpload]="true"
                    accept=".json"
                    styleClass="p-button-raised"
                    [auto]="true" chooseLabel="Upload ratings"
                    (uploadHandler)="onRatingsUpload($event)"
                    (onError)="test($event)"
      >
      </p-fileUpload>
    </div>
<!--    <div class="d-inline-block text-end col-6" style="text-align: end !important;">-->
<!--      <button pButton pRipple type="button" label="Clear" class="p-button-text p-button-secondary"></button>-->
<!--    </div>-->
<!--    (onUpload)="onBasicUploadAuto($event)" -->
  </div>


  <div class="text-center mt-4">
    <p-button class="main-button" (click)="recommend()">Make me recommendations</p-button>
  </div>
</div>




<div class="container" style="max-width: 95vw !important;">

<!--  <p-table [value]="recommendations" styleClass="p-datatable-striped" responsiveLayout="scroll">-->
<!--    <ng-template pTemplate="header">-->
<!--      <tr>-->
<!--        <th>Title</th>-->
<!--        <th>Predicted Score</th>-->
<!--        <th>Because You Watched</th>-->
<!--      </tr>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="body" let-movie>-->
<!--      <tr>-->
<!--        <td>{{movie.title}}</td>-->
<!--        <td>{{movie.score}}</td>-->
<!--        <td>{{movie.because}}</td>-->
<!--      </tr>-->
<!--    </ng-template>-->
<!--  </p-table>-->



    <div *ngFor="let movie of recommendations"
            class="d-inline-block m-2 recommended-card">
      <h2 class="oneliner">{{movie.title}}</h2>
      {{movie.genres}} {{movie.year}} <br>
      Predicted score: {{movie.score}} <br>
      Because you watched:
      <div *ngFor="let rated_move of movie.because; let i = index">
        {{movies_dict[rated_move].title}} ({{movie.attention ? movie.attention[i]  : ''}})
      </div>
    </div>
</div>

<!--<router-outlet></router-outlet>-->
<!--<p-fileUpload [auto]="true" [customUpload]="true"-->
<!--              (uploadHandler)="onUpload($event)" (onRemove)="onRemove($event)" [files]="uploadedFiles"-->
<!--              accept="image/*" [maxFileSize]="1000000">-->
<!--  <ng-template pTemplate="content">-->
<!--    <div class="grid" *ngIf="uploadedFiles[0] == null">-->
<!--      <div class="col photo">-->
<!--        <i class="pi pi-cloud-upload" style="font-size: 1.7rem"></i>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="grid">-->
<!--      <div class="col photo">-->
<!--        <p *ngIf="uploadedFiles[0] == null">{{'authpage.reg_form.steps.step2.photo_prompt' | translate}}</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</p-fileUpload>-->
